<div class="body-section">
	<div class="container card-section">
	<!--CARD: EMPTY ================================================================-->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 gapBetweenCards" *ngIf=" ((!cardContent) || (cardContent.length == 0))">
		</div>
	<!--CARD: LOOP ==================================================================-->
		<div *ngFor="let card of cardContent" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 gapBetweenCards">
		<!--TIMELINE-->
			<div class="timeline-line hidden-xs">
				<ss-timeline title="{{card.title}}" date="{{card.publishOn * 1000 | date: 'fullDate'}}" iconBreak="{{card.status}}" line="{{card.type}}" icon="{{card.icon}}"></ss-timeline>
			</div>
		<!--CARD TITLE-->
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 card-title-container">
				<ss-card-title class=" hidden-sm hidden-md hidden-lg" icon="{{card.icon}}" title="{{card.title}}"></ss-card-title>
			</div>
		<!--CARD BODY-->
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 ss-card-container">
				<ss-card-container>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card-body-container">
				<!--CARD NOTIFICATION HEADER-->
						<card-body>
							<div class="collapse-container" *ngIf=" card.length !== 0 ">
								<div class="card-body-header">
									<span>{{card.contents}}</span>
								</div>
							</div>
						</card-body>
					</div>
					<!--Product Sub-Details-->
					<ss-product-details [products]="card.products"></ss-product-details>
					<!--BUTTONS-->
					<div *ngIf="card.ctas.length > 0" class="card-cta-section col-xs-12">
						<div *ngFor="let cta of card.ctas" class="col-xs-12 col-sm-12 pull-right col-md-6 col-lg-6">
							<a href="{{ cta.target }}" class="btn btn-block btn-xl btn-primary btn-card"><b>{{ cta.title }}</b></a>
						</div>
					</div>
				</ss-card-container>
			</div>
		</div><!--NGFOR LOOP-->

		<ss-order *ngIf="orders" [order]="orders[0]"></ss-order>
	</div><!-- END OF CARD SECTION -->
</div>
