<div class="collapse-header no-gutter col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="order" >
	<ss-collapse (isCollapseOpened)="isCollapseOpened($event)" *ngIf="product">
		<div header>
			<div>
				<div class="collapse-header-details col-xs-10 col-sm-10 col-md-9 col-lg-9">
					<h3 class="card-product-brand">{{ product.brand }}</h3>
					<h4 class="card-product-name">{{ product.title }}</h4>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3 details-chevron-container">
					<span class="hidden-xs hidden-sm details-button">details</span>
					<i class=" collapse-chevron fa" [ngClass]="{'fa-caret-up': collapseOpened, 'fa-caret-down': !collapseOpened}"></i>
				</div>
			</div>
		</div>
		<div body>
			<div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse-component-bg">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product-image">
						<img class="product-details-image img-responsive" src="//d1h3612lyp6ucx.cloudfront.net/sites/default/files/glasses-images/{{ product.sku }}-front-940x529.jpg" alt="{{ product.title }}">
					</div>
					<div class="row product-sub-details">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-6">
									<h4 class="product-quantity">Frame</h4>
								</div>
								<div class="col-xs-6">
									<h4 class="product-price">{{ product.price }}</h4>
								</div>
							</div>
							<div *ngIf="product.lensPackage.lens">
								<div class="row">
									<div class="col-xs-6">
										<h4 class="product-quantity">{{ product.lensPackage.lens.title }}</h4>
									</div>
									<div class="col-xs-6">
										<h4 class="product-price">{{ product.lensPackage.lens.priceFormatted }}</h4>
									</div>
								</div>
							</div>
							<div *ngIf="product.lensPackage.lensOptions && product.lensPackage.lensOptions.length > 0">
								<div class="row" *ngFor="let option of product.lensPackage.lensOptions">
									<div class="col-xs-6">
										<h4 class="product-quantity">{{ option.title }}</h4>
									</div>
									<div class="col-xs-6">
										<h4 class="product-price">{{ option.priceFormatted }}</h4>
									</div>
								</div>
							</div>
							<div *ngIf="order.products.length > 1">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 more-items">
									<a href="/my-account/my-orders/{{ order.id }}">+{{ order.products.length - 1 }} more items</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row" *ngIf="order.discountPrice">
						<div class="col-xs-6">
							<h4 class="product-quantity">Discounts</h4>
						</div>
						<div class="col-xs-6">
							<h4 class="product-price">{{ order.discountPriceFormatted }}</h4>
						</div>
					</div>

		    	<div class="row product-sub-details">
	   				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	   					<h3 class="product-total-title">Total</h3>
	   				</div>
		   			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		   				<h3 class="product-total-price">{{ order.totalFormatted }}</h3>
		   			</div>
	   			</div>
		   		</div>
	   		</div>
		</div>
	</ss-collapse>
</div>
