<!--CARD: Recent Order Card ==============================================================-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 gapRecentOrderCard" *ngIf="order" >
    <!--TIMELINE-->
    <div class="timeline-line hidden-xs">
      <ss-timeline title="Last order" date="{{ order.created * 1000 | date:'fullDate' }} " iconBreak="{{ order.status }}" line="Last Order" icon="truck"></ss-timeline>
    </div>
  <!--CARD TITLE-->
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 card-title-container">
      <ss-card-title class=" hidden-sm hidden-md hidden-lg" icon="truck" title="Last order"></ss-card-title>
    </div>
  <!--CARD BODY-->
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 ss-card-container" *ngIf="order">
    <ss-card-container>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card-body-container">
        <card-body>
          <div class="collapse-container">
            <div class="card-body-header">
              <span>Your Last Order was made {{ order.created*1000 | amTimeAgo }}</span>
            </div>
          </div>
        </card-body>
      </div>
      <div *ngIf=" products.length > 0">
        <div *ngIf=" products[0].type === 'frame_sku' ">
          <ss-frame [order]="order" [product]="products[0]"></ss-frame>
        </div>
        <div *ngIf=" products[0].type === 'contact_lens_sku' ">
          <ss-contact-lens [order]="order" [product]="products[0]"></ss-contact-lens>
        </div>
      </div>

      <div class="card-cta-section col-xs-12">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="/my-account/my-orders/{{ order.id }}" class="btn-secondary btn btn-block btn-xl btn-card"><b>View Full Order Details</b></a>
        </div>
        <div *ngIf="order.expressReorder" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <a href="/express-reorder" class="btn-primary btn btn-block btn-xl  btn-card"><b>Start Express Reorder</b></a>
        </div>
      </div>
    </ss-card-container>
  </div>
</div><!-- END OF RECENT ORDER CARD -->
